:root {
	padding: 0.5vw;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	font-size: 1vw;
	text-align: left;
	background-color: black;
	color: white;
	text-rendering: geometricPrecision;
}
